/* * {
   border: 1px solid teal;
} */

body {
   text-align: center;
   margin: auto;
   max-width: 1000px;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   line-height: 22px;
}

#background-black {
   position: absolute;
   left: 0;
   top: 0px;
   height: 30px;
   width: 100%;
   background: black;
   z-index: -10;
}

#background-green {
   position: absolute;
   left: 0;
   top: 30px;
   height: 450px;
   width: 100%;
   background: #1b5557;
   z-index: -10;
}

#background-white {
   position: absolute;
   left: 0;
   top: 111px;
   height: 1px;
   width: 100%;
   line-height: 1px;
   content: "";
   background: white;
   z-index: 1;
}

/* HEADER */

header {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   font-size: 10px;
   margin-top: 7px;
   text-align: right;
   color: white;
   height: 30px;
}

header div {
   display: inline-block;
   margin: 0 2px
}

header div i {
   margin: 0 2px;
}

/* NAV */

nav {
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 60px;
   padding-top: 15px;
}

nav div {
   display: inline-block;
}

#logo-nav {
   float: left;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 2em;
   font-weight: 500;
   margin-left: 20px;
}

#full-nav {
   display: none;
   float: left;
   width: 65%;
}

#full-nav ul {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 0;
   margin: 0;
}

#full-nav li {
   display: inline-block;
   margin: 15px 0 0px 0;
}

#full-nav a {
   color: white;
   text-decoration: none;
   font-size: 13px;
}

#full-nav a:hover {
   text-decoration: underline;
}

#right-nav {
   float: right;
}

#menu-nav {
   margin: 3px 20px 0;
   font-size: 1.5em;
}

#shop-plans {
   display: none;
}

#shop-plans a {
   display: inline-block;
   color: white;
   margin-right: 15px;
   padding: 8px 15px 11px;
   border: 1px solid white;
   border-radius: 10pc;
   text-decoration: none;
}

/* BANNER */

#banner {
   color: white;
   width: 90%;
   height: 200px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

#banner h1 {
   font-weight: lighter;
   /* line-height:30px; */
   /* font-size: clamp(2.3rem, 5.0vw, 3.5rem); */
   font-size: clamp(2.5rem, 7.0vw, 4.5rem);
   margin: 20px 0;
}

/* FORM */

#form {
   background: white;
   display: flex;
   flex-direction: column;
   width: 85%;
   margin: auto;
   padding-top: 10px;
   padding-bottom: 50px;
   border-radius: 5px;
   box-shadow: 0px 1px 6px 0px #777;
   align-items: center;

   font-size: 12px;
}

#form>div:first-child {
   width: 100%;
   text-align: center;
   font-size: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
}

#form>div {
   font-family: 'Segoe UI', sans-serif;
   width: 90%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-self: center;
   text-align: left;
   padding: 15px 0 15px;
}

#form>div>* {
   flex: 50%;
   display: inline-block;
   margin: auto;
   width: 100%;
   align-self: center;

}

label {
   font-weight: bold;
}

input,
select {
   color: #777;
   width: 100%;
   background: none;
   border-color: #ccc;
   border-style: solid;
   border-width: 0 0 1px 0;
   padding: 6px 0
}

/* CONTAINER */

.container {

   max-width: 100%;
   margin: auto;
}

#introduction {
   width: 60%;
   margin: auto;
}

h2 {
   font-size: 30px;
   margin-top: 10px
}

#introduction hr {
   background: red;
   height: 2px;
   width: 50px;
   border-width: 0px;
   margin: 40px auto 0;
}

/* section */

.section {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-bottom: 30px;
}

.section:nth-child(2n+0){
   flex-direction: column-reverse;
}

.section:nth-child(2n+0) :first-child {
   text-align: center;
}

.section div {

   margin: 0 auto;
   flex: 50%;
   max-width: 350px;
   padding: 15px
}

.section img {
   width: 100%;
}

.section h3 {
   font-size: 26px;
}

.section p {}

/* clear fix */

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

/*******************
     RESPONSIVE   
*******************/

@media only screen and (min-width:320px) {

   header div {
      display: inline-block;
      margin: 0 10px;
      font-size: 13px;
   }
}

@media only screen and (min-width:601px) {

   header div {
      margin: 0 15px
   }

   #banner {
      color: white;
      font-size: -larxge;
   }

   .container {
      flex-direction: column;
   }

   #full-nav {
      display: inline-block;
   }

   #menu-nav {
      display: none;
   }

   #shop-plans {
      display: contents;
   }

   #form {
      flex-direction: row;
      flex-wrap: wrap;
   }

   #form div {
      width: 49.5%;
   }

   #form>div>div {
      width: 90%;
   }

   #introduction {
      width: 45%;
      margin: auto;
   }

   .section {
      flex-direction: row;
      justify-content: center;

   }

   .section:nth-child(2n){
      flex-direction: row;
   }

   .section:nth-child(2n+0) :first-child {
      text-align: left;
   }

   .section div:first-child {

      text-align: right;
      margin: 20px;
      padding: unset;
   }

   .section div:last-child {

      text-align: left;
      margin: 20px;
      padding: unset;
   }

   section img {
      padding-right: 30px;
   }
}